{
  "presets": ["es2015"],
  "sourceMaps": true,
  "plugins": [
    "transform-object-assign",
    [
      "root-import",
      [
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "."
        }
      ]
    ]
  ]
}
