{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:jasmine/recommended"],
  "plugins": ["jasmine", "angular", "protractor"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "quotes": [
      1,
      "single"
    ]
  },
  "globals": {
    "angular": true
  }
}
