{
  "parser": "babel-eslint",
  "plugins": ["jasmine", "angular"],
  "extends": ["airbnb-base", "plugin:jasmine/recommended", "angular"],
  "root": true,
  "env": {
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "quotes": [
      1,
      "single"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "gulpfile.babel.js",
          "src/**/*.js",
          "src/*.js",
          "test/*.js"
        ]
      }
    ],
    "jasmine/no-global-setup": "off",
    "no-param-reassign": "off",
    "angular/no-private-call": "off"
  },
  "globals": {
    "angular": true
  }
}
