language: node_js

node_js:
- '6'

branches:
  only:
  - master

env:
- DBUS_SESSION_BUS_ADDRESS=/dev/null

before_install:
- npm install -g gulp@^3.8.11 jspm@^0.16.1 protractor@^4.0.11 forever@0.15.3 codecov@^1.0.1 codeclimate-test-reporter@^0.4.0
- jspm config registries.github.auth $JSPM_GITHUB_AUTH_TOKEN

before_script:
- jspm install
- forever start node_modules/gulp/bin/gulp.js watch serve
- protractor test/protractor.conf.js

after_success:
- bash <(curl -s https://codecov.io/bash)
- test $TRAVIS_TEST_RESULT = 0
- codeclimate-test-reporter < "/home/travis/build/jonshaffer/angular-data-table/test/coverage/Chrome 35.0.1916 (Windows 7 0.0.0)/lcov.info"
- codecov

script:
- gulp unit
- gulp release

addons:
  sauce_connect: true
