<!doctype html>
<html lang="en">
  <head>
    <meta charset=" utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width = device-width, minimal-ui, initial-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-title" content="Datagrid">
    <title>Datagrid - Tree</title>
    <base href="/">
    <style>
      *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      body {
        font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: 0.01rem;
        color: #212121;
        background-color: #f5f5f5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
      }

      .dt {
        width:75%;
        margin:50px auto;
        height:400px;
      }

      .dt-depth-0 > div > .dt-cell {
        font-weight:500;
      }

      .dt-depth-1 > div > .dt-tree-col {
        text-indent: 25px;
      }

      .dt-depth-2 > div > .dt-tree-col {
        text-indent: 55px;
      }

      .dt-depth-3 > div > .dt-tree-col {
        text-indent: 85px;
      }

      .dt-depth-4 > div > .dt-tree-col {
        text-indent: 115px;
      }
      /* here add more if the tree depth is bigger */

      .dt-tree-col {
        padding-left:35px !important;
      }

      .dt-tree-toggle {
        position:absolute;
        left:5px;
        line-height: 40px;
      }

    </style>
    <link href="../dist/dataTable.css" media="all" rel="stylesheet" />
    <link href="../dist/themes/material.css" media="all" rel="stylesheet" />
    <link href="../dist/themes/icons.css" rel="stylesheet">
  </head>
  <body ng-app="app" ng-controller="HomeController">


    <dtable options="options" 
        rows="data" class="material"
        expanded="expanded"
        on-tree-toggle="treeToggled(cell)"></dtable>

    <script src="../jspm_packages/system.js"></script>
    <script src="../config.js"></script>

    <script>

      System.import('dataTable').then(function (dt) {
        var module = angular.module('app', [ dt.default.name ]);

        module.controller('HomeController', function ($scope, $http) {
          $scope.options = {
          //   rowHeight: 50,
          //   footerHeight: false,
          //   scrollbarV: true,
          //   headerHeight: 50,
          //   columnMode: 'flex',
          //   columns: [
          //     { 
          //       name: "Company", 
          //       prop: "company", 
          //       flexGrow: 2,
          //       isTreeColumn: true,
          //       relationProp: 'parentCompany'
          //     },
          //     { 
          //       name: "Revenue", 
          //       flexGrow: 1,
          //       prop: "revenue" 
          //     },
          //     { 
          //       name: "Sales", 
          //       flexGrow: 1,
          //       prop: "sales"
          //     }
          //   ]rowHeight: 36,
            headerHeight: 30,
            selectable: false,
            resizeable: false,
            columnMode: 'flex',
            scrollbarV: true,
            columns: [
                // {
                //     name: '',
                //     maxWidth: 65,
                //     minWidth: 65,
                //     sortable: false,
                //     resizeable: false,
                //     cellRenderer: (scope) => {
                //         scope.goToPage = this.goToPage.bind(this);
                //         scope.APP_STATES = APP_STATES;

                //         return `
                //         <span class="actions">
                //             <hp-button-old
                //                 id="panels-results-{{$row.Key}}-details"
                //                 ng-click="goToPage(APP_STATES.PANELS_DETAILS, { id: $row.Key })"
                //                 ng-disabled="false"
                //                 label="false"
                //                 preset="details">
                //             </hp-button-old>
                //             <hp-button-old
                //                 id="panels-results-{{$row.Key}}-edit"
                //                 ng-click="!$row.IsArchived && goToPage(APP_STATES.PANELS_EDIT, { id: $row.Key })"
                //                 ng-disabled="$row.IsArchived"
                //                 label="false"
                //                 preset="edit">
                //             </hp-button-old>
                //         </span>`;
                //     }
                // },
                // {
                //     name: 'Icon',
                //     prop: 'IconKey',
                //     flexGrow: 1
                // },
                {
                    name: 'Panel Name',
                    prop: 'Name',
                    minWidth: 150,
                    isTreeColumn: true,
                    relationProp: 'DataSourceName'
                },
              ]
          };

          

          $scope.expanded = {
            'Acme': true
          };

          $scope.treeToggled = function (row, cell) {
            console.log('toggled!')
          };

          // $scope.data = [{
          //     'company': 'Apple',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564'
          //   }, {
          //     'company': 'Apple IBS',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564',
          //     parentCompany: 'Apple'
          //   },{
          //     'company': 'Apple XYZ',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564',
          //     parentCompany: 'Apple'
          //   },
          //     {
          //     'company': 'Apple IBS South1',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564',
          //     parentCompany: 'Apple IBS'
          //   },
          //     {
          //     'company': 'Apple IBS South1 ABC',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564',
          //     parentCompany: 'Apple IBS South1'
          //   },
          //     {
          //     'company': 'Apple IBS South1 CDE',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564',
          //     parentCompany: 'Apple IBS South1'
          //   },
          //     {
          //     'company': 'Apple IBS South2',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564',
          //     parentCompany: 'Apple IBS'
          //   },
          //   {
          //     'company': 'Apple XYZ South1',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564',
          //     parentCompany: 'Apple XYZ'
          //   },
          //     {
          //     'company': 'Apple XYZ South2',
          //     'revenue': '$1,440,443,111',
          //     'sales': '$999,509,433,777,564',
          //     parentCompany: 'Apple XYZ'
          //   }];

          $scope.data = [
            {"CreatedBy":{"Date":"\/Date(1479445200000-0500)\/","Type":null,"TypeKey":null,"UserKey":1239,"UserName":"TestUser"},"DataSourceName":"dbo.MemberTrackingBoard-Alias","Description":"My first test panel","IconDescription":"Test Panbel Icon1","IconKey":1,"IsArchived":false,"IsDataSourceArchived":true,"Key":2,"Name":"PCMH-Readmission","UpdatedBy":{"Date":null,"Type":null,"TypeKey":null,"UserKey":null,"UserName":"TestUser"}},
            {"CreatedBy":{"Date":"\/Date(1479445200000-0500)\/","Type":null,"TypeKey":null,"UserKey":1239,"UserName":"TestUser"},"DataSourceName":"dbo.MemberTrackingBoard-Alias","Description":"My first test panel - 1","IconDescription":"Test Panbel Icon2","IconKey":2,"IsArchived":false,"IsDataSourceArchived":true,"Key":3,"Name":"Test Panel - 1","UpdatedBy":{"Date":null,"Type":null,"TypeKey":null,"UserKey":null,"UserName":"TestUser"}},
            {"CreatedBy":{"Date":"\/Date(1479445200000-0500)\/","Type":null,"TypeKey":null,"UserKey":1,"UserName":"TestUser"},"DataSourceName":"Office Visits Open","Description":null,"IconDescription":"Test Panbel Icon2","IconKey":2,"IsArchived":false,"IsDataSourceArchived":false,"Key":9,"Name":"Office Visits Open","UpdatedBy":{"Date":null,"Type":null,"TypeKey":null,"UserKey":null,"UserName":"TestUser"}}
          ];
        });
      });
    </script>

  </body>
</html>
